<div class="form-group">
  <%= f.radio_button :status, 'submitted' %>
  <%= f.label :status, 'Submitted', style: "padding-top: 4px; vertical-align: top;" %>

  <%= f.radio_button :status, 'approved' %>
  <%= f.label :status, 'Approved', style: "padding-top: 4px; vertical-align: top;" %>

  <%= f.radio_button :status, 'rejected' %>
  <%= f.label :status, 'Rejected', style: "padding-top: 4px; vertical-align: top;"  %>
</div>